/* public/styles.css */

/* Body background */
body {
  background-color: #f8f9fa;
}

/* Form Styles */
.card-header h2 {
  margin: 0;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
}

/* Table Styles */
.table {
  margin-bottom: 0;
}

.table thead th {
  text-align: center;
}

.table tbody td {
  vertical-align: middle;
  text-align: center;
}

/* Action Buttons */
.action-button {
  margin: 0 5px;
  margin-bottom:5px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  max-width:40%
}

.edit-button {
  background-color: #007bff;
  color: white;
  max-width:40%
}

/* Modal Styles */
.modal-header {

  color: white;
}

.modal-title {
  margin: 0;
}

.modal-footer {
  border-top: none;
}

/* Responsive Design */
@media (max-width: 576px) {
  .form-row {
      display: block;
  }

  .form-group {
      width: 100%;
  }
}

/* Search Bar Styles */
#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}


/* Hover Effects for Buttons */
.delete-button:hover {
  background-color: #c82333; /* Darker red */
}

.edit-button:hover {
  background-color: #0056b3; /* Darker blue */
}

/* Modal Header Styles */
.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-header h4 {
  color: white;
}

/* Make the table responsive */
.table-responsive {
  overflow-x: auto;
}
